# Node dependencies
node_modules/

# Test directory 
# test/
test/other.js
test/other.cjs
test/output.txt

# VSCode Config
.vscode/

# Build Directories
build/
types/**/*.d.ts
types/**/*.d.ts.map

# Documentation Directory
docs/

# Test Files
e*