body,
button,
input,
textarea {
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(46, 46, 46);
    color: rgba(255, 255, 255, 0.857);
    overflow-y: auto;
}

#wrapper {
    box-sizing: border-box;
    text-align: center;
    max-width: 90%;
    height: 70%;
    margin-top: 25px;
    /*margin-bottom: auto;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#guide-wrapper {
    box-sizing: border-box;
    text-align: center;
    height: fit-content;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#first-header,
#first-paragraph {
    margin-bottom: 5px;
    margin-top: 5px;
}

h1 {
    font-size: xx-large;
}

p {
    font-size: large;
}

#install-command {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
}

.material-icons-round {
    vertical-align: text-top !important;
    cursor: pointer;
}

a {
    color: rgb(105, 121, 212);
    text-decoration: none;
}

a:hover {
    color: rgb(70, 80, 146);
}

#copy:hover {
    color: rgb(105, 121, 212);
}

#code-block {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
    font-size: medium;
    text-align: left;
    max-width: 80%;
    overflow-x: auto;
    white-space: nowrap;
}

.inline-code {
    padding: 2px;
    padding-right: 5px;
    padding-left: 5px;
    font-size: initial;
    border-radius: 0px;
    vertical-align: text-bottom;
}

code {
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
    background-color: rgb(54, 54, 54);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-family: 'Source Code Pro', monospace;
    font-size: medium;
    text-align: left;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 80%;
}

#side-nav-bar {
    height: calc(100vh - 40px);
    position: absolute;
    top: 40px;
    left: 0;
    max-width: 200px;
    width: 100vw;
    background-color: rgb(54, 54, 54);
    font-size: large;
    padding: 15px;
    box-sizing: border-box;
    z-index: 5;
    display: none;
    overflow-y: auto;
}

.side-nav-bar-link {
    margin-bottom: 10px;
    display: inline-block;
}

#side-nav-bar-darken {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 4;
}

c-const {
    color: rgb(132, 161, 255);
}

c-return {
    color: rgb(255, 194, 103);
}

c-5,
c-function {
    color: rgb(255, 112, 112);
}

c-7,
c-string {
    color: rgb(105, 255, 143);
}

c-3,
c-property {
    color: rgb(213, 247, 160);
}

#docs,
#guide {
    font-size: larger;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 25px;
    padding-right: 25px;
    color: rgb(255, 255, 255);
    text-wrap: balance;
    transition: all 0.5s;
}

#docs .material-icons-round,
#guide .material-icons-round {
    font-size: x-large !important;
}

#docs:hover,
#guide:hover {
    border-radius: 10px;
}

#docs {
    background-color: rgb(57, 103, 255);
}

#guide {
    background-color: rgb(255, 73, 73);
}

@media screen and (max-width: 450px) {
    .button-splitter {
        display: inline-block !important;
    }
}

#nav-bar {
    height: 40px;
    background-color: rgb(54, 54, 54);
    z-index: 6;
    position: relative;
}

#nav-bar p,
#nav-bar a,
#nav-bar button {
    display: inline;
    float: left;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
    margin-top: 6px;
}

#nav-bar #menu {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.857);
    margin-top: 3px;
    margin-right: 0px;
}

#nav-bar #menu .material-icons-round {
    font-size: 34px;
}

#links {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    align-self: center;
    flex-flow: row;
    justify-content: center;
}

#links a {
    margin: 10px;
}

#links a img {
    width: auto;
    height: 40px;
}

/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/

.hljs {
    color: #abb2bf;
    background: #282c34;
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}
